In [38]:
# Feature Enggineering

In [39]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.feature_selection import f_regression
import joblib

In [50]:
df = pd.read_csv("Data.csv")

In [51]:
df.head()

,applicant_id,years_of_insurance_with_us,regular_checkup_lasy_year,adventure_sports,Occupation,visited_doctor_last_1_year,cholesterol_level,daily_avg_steps,age,heart_decs_history,...,smoking_status,Year_last_admitted,Location,weight,covered_by_any_other_company,Alcohol,exercise,weight_change_in_last_one_year,fat_percentage,insurance_cost
0,5000,3,1,1,Salried,2,125 to 150,4866,28,1,...,Unknown,NaN,Chennai,67,N,Rare,Moderate,1,25,20978
1,5001,0,0,0,Student,4,150 to 175,6411,50,0,...,formerly smoked,NaN,Jaipur,58,N,Rare,Moderate,3,27,6170
2,5002,1,0,0,Business,4,200 to 225,4509,68,0,...,formerly smoked,NaN,Jaipur,73,N,Daily,Extreme,0,32,28382
3,5003,7,4,0,Business,2,175 to 200,6214,51,0,...,Unknown,NaN,Chennai,71,Y,Rare,No,3,37,27148
4,5004,3,1,0,Student,2,150 to 175,4938,44,0,...,never smoked,2004.0,Bangalore,74,N,No,Extreme,0,34,29616

In [52]:
df = df.dropna()

In [ ]:
# Converting cholesterol level ranges to their midpoints

def range_to_mid(value):
    try:
        nums = [int(x) for x in value.split() if x.isdigit()]
        return np.mean(nums)
    except:
        return np.nan

df['cholesterol_level'] = df['cholesterol_level'].apply(range_to_mid)

In [56]:
df['cholesterol_level'] = df['cholesterol_level'].astype(float)

In [57]:
df.head()

,applicant_id,years_of_insurance_with_us,regular_checkup_lasy_year,adventure_sports,Occupation,visited_doctor_last_1_year,cholesterol_level,daily_avg_steps,age,heart_decs_history,...,smoking_status,Year_last_admitted,Location,weight,covered_by_any_other_company,Alcohol,exercise,weight_change_in_last_one_year,fat_percentage,insurance_cost
4,5004,3,1,0,Student,2,162.5,4938,44,0,...,never smoked,2004.0,Bangalore,74,N,No,Extreme,0,34,29616
5,5005,8,0,0,Salried,2,237.5,5306,39,0,...,Unknown,2003.0,Bhubaneswar,78,Y,Rare,No,3,13,39488
6,5006,8,0,0,Student,4,137.5,4676,40,0,...,never smoked,2004.0,Guwahati,81,N,No,Moderate,3,16,37020
8,5008,8,1,0,Salried,4,137.5,5632,45,0,...,smokes,2007.0,Mumbai,67,Y,Rare,No,1,12,22212
10,5010,7,1,0,Student,3,137.5,4829,35,0,...,formerly smoked,1994.0,Bangalore,74,N,Rare,Extreme,2,16,25914

In [58]:
print(df.columns)

Index(['applicant_id', 'years_of_insurance_with_us',
       'regular_checkup_lasy_year', 'adventure_sports', 'Occupation',
       'visited_doctor_last_1_year', 'cholesterol_level', 'daily_avg_steps',
       'age', 'heart_decs_history', 'other_major_decs_history', 'Gender',
       'avg_glucose_level', 'bmi', 'smoking_status', 'Year_last_admitted',
       'Location', 'weight', 'covered_by_any_other_company', 'Alcohol',
       'exercise', 'weight_change_in_last_one_year', 'fat_percentage',
       'insurance_cost'],
      dtype='object')

In [59]:
df = df.drop(columns=["applicant_id","Location"], errors="ignore")

In [60]:
print(df.columns)

Index(['years_of_insurance_with_us', 'regular_checkup_lasy_year',
       'adventure_sports', 'Occupation', 'visited_doctor_last_1_year',
       'cholesterol_level', 'daily_avg_steps', 'age', 'heart_decs_history',
       'other_major_decs_history', 'Gender', 'avg_glucose_level', 'bmi',
       'smoking_status', 'Year_last_admitted', 'weight',
       'covered_by_any_other_company', 'Alcohol', 'exercise',
       'weight_change_in_last_one_year', 'fat_percentage', 'insurance_cost'],
      dtype='object')

In [61]:
cat_cols = df.select_dtypes(include='object').columns

for col in cat_cols:
    print(f"{col} → {df[col].nunique()} unique values")

Occupation → 3 unique values
Gender → 2 unique values
smoking_status → 4 unique values
covered_by_any_other_company → 2 unique values
Alcohol → 3 unique values
exercise → 3 unique values

In [62]:
cat_cols = df.select_dtypes(include='object').columns
le_dict = {}       

for col in cat_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col].astype(str))
    le_dict[col] = le  
print("Label Encoding Completed")

joblib.dump(le_dict, "label_encoders.pkl")

Label Encoding Completed

['label_encoders.pkl']

In [63]:
df.head()

,years_of_insurance_with_us,regular_checkup_lasy_year,adventure_sports,Occupation,visited_doctor_last_1_year,cholesterol_level,daily_avg_steps,age,heart_decs_history,other_major_decs_history,...,bmi,smoking_status,Year_last_admitted,weight,covered_by_any_other_company,Alcohol,exercise,weight_change_in_last_one_year,fat_percentage,insurance_cost
4,3,1,0,2,2,162.5,4938,44,0,1,...,26.5,2,2004.0,74,0,1,0,0,34,29616
5,8,0,0,1,2,237.5,5306,39,0,0,...,38.0,0,2003.0,78,1,2,2,3,13,39488
6,8,0,0,2,4,137.5,4676,40,0,0,...,28.7,2,2004.0,81,0,1,1,3,16,37020
8,8,1,0,1,4,137.5,5632,45,0,0,...,24.4,3,2007.0,67,1,2,2,1,12,22212
10,7,1,0,2,3,137.5,4829,35,0,0,...,39.2,1,1994.0,74,0,2,0,2,16,25914

In [67]:
df.to_csv("insurance_data.csv", index=False)

In [68]:

# Get all numeric columns AFTER encoding
numeric_cols = df.select_dtypes(include=['int64','float64']).columns

# Remove the target column from feature list
numeric_cols = numeric_cols.drop("insurance_cost")

# Define X and y
X = df[numeric_cols]
y = df["insurance_cost"]

# Run ANOVA F-test
f_scores, p_values = f_regression(X, y)

# Results
anova_results = pd.DataFrame({
    "Feature": numeric_cols,
    "F_score": f_scores,
    "p_value": p_values
}).sort_values("F_score", ascending=False)

anova_results

                           Feature        F_score       p_value
15                          weight  186656.764172  0.000000e+00
14              Year_last_admitted   26625.300555  0.000000e+00
19  weight_change_in_last_one_year    1770.065191  0.000000e+00
16    covered_by_any_other_company     139.068266  6.266951e-32
1        regular_checkup_lasy_year      74.240185  7.736787e-18
2                 adventure_sports      66.917060  3.102495e-16
0       years_of_insurance_with_us       4.874561  2.727335e-02
8               heart_decs_history       2.403654  1.210773e-01
4       visited_doctor_last_1_year       2.403186  1.211135e-01
7                              age       2.328797  1.270251e-01
20                  fat_percentage       1.185090  2.763431e-01
10                          Gender       0.863544  3.527668e-01
11               avg_glucose_level       0.491857  4.831129e-01
13                  smoking_status       0.340132  5.597633e-01
18                        exercise       0.221616  6.378196e-01
17                         Alcohol       0.204300  6.512799e-01
3                       Occupation       0.134611  7.137040e-01
5                cholesterol_level       0.076776  7.817201e-01
6                  daily_avg_steps       0.071303  7.894536e-01
12                             bmi       0.001954  9.647431e-01
9         other_major_decs_history       0.001365  9.705297e-01

In [69]:
selected_features = anova_results[
    (anova_results["p_value"] < 0.05)
].sort_values("F_score", ascending=False)

removed_features = anova_results[
    (anova_results["p_value"] >= 0.05)
].sort_values("F_score")

In [66]:
print("Features to KEEP:")
print(selected_features)

print("\nFeatures to REMOVE:")
print(removed_features)

Features to KEEP:
                           Feature     F_score        p_value
19  weight_change_in_last_one_year  463.651149  5.085407e-101
15                          weight   49.698033   1.886920e-12
2                 adventure_sports   18.634346   1.595533e-05
1        regular_checkup_lasy_year    7.315523   6.845352e-03
0       years_of_insurance_with_us    7.193805   7.325124e-03
20                  fat_percentage    6.284724   1.219081e-02
16    covered_by_any_other_company    4.467678   3.456153e-02
10                          Gender    4.280314   3.857661e-02

Features to REMOVE:
                       Feature   F_score   p_value
7                          age  0.021783  0.882669
12                         bmi  0.089193  0.765211
13              smoking_status  0.130077  0.718358
8           heart_decs_history  0.202661  0.652589
6              daily_avg_steps  0.212462  0.644852
4   visited_doctor_last_1_year  0.228016  0.633007
17                     Alcohol  0.228477  0.632664
5            cholesterol_level  0.256199  0.612752
18                    exercise  0.342119  0.558619
14          Year_last_admitted  0.375054  0.540274
3                   Occupation  0.523968  0.469168
9     other_major_decs_history  1.815447  0.177880
11           avg_glucose_level  2.031349  0.154109

In [49]:
## After ANOVA will keep all features because it should be based on domain expertise